
// colors
$bodycolor:#130F26;
$bodyopacitycolor:rgba(19, 15, 38, 70%);
$bodybackground:#E9F5E5;
$main_title:#130F26;
$bodyopacitylightcolor:rgba(12, 47, 73, 0.75);
$bodyhovercolor:#56C230;
$white_color: #ffffff;
$black_color:#000000;
$linkcolor: #130F26;
$linkhovercolor: #56C230;
$formfiledbackgroundcolor:#ffffff;
$formfiledbordercolor: rgba(228, 228, 228, 0.9);
$formfiled_color:#130F26;
$star_color: #E8A908;
$label_color: #130F26;
$light_gray:#B8B7BE;
$mid_gray:#130F26;
$off_white:#F3F3F7;
$mid_blue:#1E85DA;
$pending_color:#BE9400;
$success_color:#0BA808;
$danger_color: #dc3545;



// sidebar colors
$sidebar_background: #E9F5E5;
$sidebar_font_color: #000000;

// header colors
$header_background: #56C230;
$header_icon_color: #ffffff;















