$font_family_regular:'SF Pro Display Regular',sans-serif;
$font_family_medium:'SF Pro Display Medium',sans-serif;
$font_family_semibold:'SF Pro Display Semibold',sans-serif;
$font_family_bold:'SF Pro Display Bold',sans-serif;