@import '../../../../assets/scss/variable.scss';

.new_registration{
    .mat-dialog-title{
        font-size: $font_ex_large;
        font-weight: 600;
    } 
    .mat-dialog-content{
        form{
            .user_image_upload{
                margin: 0 0 20px;
            }
            .form_inner{
                display: flex;
                flex-wrap: wrap;
                margin: 0 -15px;
                .form_field_wrapper{
                    width: 50%;
                    padding: 0 15px;
                }
            }
        }
    }
    .mat-dialog-actions{
        justify-content: flex-end;
        padding-bottom: 24px;
    }
}

@media only screen and (min-device-width: $desktop) {
    .new_registration{
        width: 50%;
    }
}
@media only screen and (max-device-width: $medium_iphone) {
    .newreg_dialog .mat-dialog-content form .form_inner .form_field_wrapper{
        width: 100%;
    }
}
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    /*custom css */
    display: flex;
    position: absolute;
    z-index: 100000;
    margin-top: 14%;
    margin-left: 30%;
  }
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }