<div class='custom-loader' *ngIf="loaderflag" id=loader >
	<img src='../../../assets/images/loader.gif' alt=''>
	Loading...
  </div>
    
    <div class="common-page-wrapper" [ngClass]="{'loader-bg' : loaderflag}">
        <h4>Hello {{fullName}}</h4>
      
        <!-- table cards -->
        <div class="custom-card">
          <div class="heading-wrap">
            <h1>{{title}}</h1>
            <form class="search-wrap" [formGroup]="userNotifyForm">
              <input class="form-control me-2" type="search" formControlName="Search" placeholder="Search" aria-label="Search" (keydown)="GetUserNotificationList()">
            </form>
          </div>
      
          <div class="table-responsive">
            <mat-table class="table" [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" matSortDirection="asc">     
               <ng-container matColumnDef="notificationDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Notification Date </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.NotificationDate | date : 'MMM dd,yyyy hh:mm a'}} </mat-cell>
                </ng-container>              
                <ng-container matColumnDef="title">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Notification Title</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.Title}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="message">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Notification Message</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.NotificationText}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="received">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Received From</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.ReceivedFrom}} </mat-cell>
              </ng-container>     
              <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <div class="action-wrap">
                    <a (click)="OpenNotificationDetail(element.Id,element.NotificationId)">
                      <img class="edit-eye" src="../../../../assets/images/edit-eye.png" alt="icon">
                    </a>
                  </div>
                </mat-cell>
              </ng-container>
      
              <ng-container matColumnDef="noData">
                <mat-footer-cell *matFooterCellDef> No records found.</mat-footer-cell>
              </ng-container>
              <div>
                  <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                  <mat-footer-row *matFooterRowDef="['noData']" [hidden]="hide">
                  </mat-footer-row>
            </div>
            </mat-table>
            <mat-paginator style-paginator [length]="recordcount" [pageSize]="pagesize" 
            [pageSizeOptions]="pageSizeList" (page)="pageChangeEvent($event)">
            </mat-paginator>
          </div>
        </div>
      </div>