<div class="sidebar_main">
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
      <div class="offcanvas-header">
        <button type="button" class="close text-reset d-lg-none d-md-block" data-bs-dismiss="offcanvas" aria-label="Close">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="offcanvas-body">
      		<div class="inner_sidebar">
				<a class="header_logo" [routerLink]="['/AcpPartnerAdmin/dashboard']">
					<img src="assets/images/sidebar_logo.png" alt="Logo" title="Logo">
				</a>
				<div class="menu_list" id="sidebar">
					<ul class="menu_list_main">
						<li class="nav-item">
							<a class="nav-link" routerLinkActive="active"  [routerLink]="['/AcpPartnerAdmin/dashboard']">
								<div class="menu_list_block">
								<div class="sidebar_icon">
									<img class="icon" src="../../../../assets/images/sidebaricon/sidebaricon1.svg" alt=""> 
									<img class="icon_hover" src="../../../../assets/images/sidebaricon/sidebaricon1_hover.svg" alt=""> 
								</div>
								<span>Dashboard</span>
								</div>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link"  routerLinkActive="active" [routerLink]="['/AcpPartnerAdmin/staff']">
								<div class="menu_list_block">
								<div class="sidebar_icon">
									<img class="icon" src="../../../../assets/images/sidebaricon/sidebaricon2.svg" alt=""> 
									<img class="icon_hover" src="../../../../assets/images/sidebaricon/sidebaricon2_hover.svg" alt=""> 
								</div>
								<span>Staff</span>
								</div>
							</a>
						</li>

						<li class="nav-item">
							<a class="nav-link"  routerLinkActive="active" [routerLink]="['/AcpPartnerAdmin/clients']">
								<div class="menu_list_block">
								<div class="sidebar_icon">
									<img class="icon" src="../../../../assets/images/sidebaricon/sidebaricon3.svg" alt=""> 
									<img class="icon_hover" src="../../../../assets/images/sidebaricon/sidebaricon3_hover.svg" alt=""> 
								</div>
								<span>Client</span>
								</div>
							</a>
						</li>



						<li class="nav-item">
							<a class="nav-link"  routerLinkActive="active"  [routerLink]="['/AcpPartnerAdmin/project']">
								<div class="menu_list_block">
								<div class="sidebar_icon">
									<img class="icon" src="../../../../assets/images/sidebaricon/sidebaricon4.svg" alt=""> 
									<img class="icon_hover" src="../../../../assets/images/sidebaricon/sidebaricon4_hover.svg" alt=""> 
								</div>
								<span>Project</span>
								</div>
							</a>
						</li>


						<li class="nav-item">
							<a class="nav-link"  routerLinkActive="active" [routerLink]="['/AcpPartnerAdmin/role']">
								<div class="menu_list_block">
								<div class="sidebar_icon">
									<img class="icon" src="../../../../assets/images/sidebaricon/sidebaricon5.svg" alt=""> 
									<img class="icon_hover" src="../../../../assets/images/sidebaricon/sidebaricon5_hover.svg" alt=""> 
								</div>
								<span>Role</span>
								</div>
							</a>
						</li>
					</ul>
				</div>
            </div>
      </div>
	</div>
</div>
          