<!-- <div class="mainLayout" id="fullLayout">
	<div class="mainSidebar">
        <app-platform-admin-sidebar></app-platform-admin-sidebar> 
	</div>
	<div class="mainWrapper">
        <app-platform-admin-header ></app-platform-admin-header>
		<router-outlet></router-outlet>
	</div>
</div> -->



<div class="main_block">
    <div class="sidebar_section">
        <app-platform-admin-sidebar></app-platform-admin-sidebar> 
    </div>
    <div class="main_section">
        <app-platform-admin-header ></app-platform-admin-header>
        <router-outlet></router-outlet>
    </div>
</div>

