<div class='custom-loader' *ngIf="loaderflag" id=loader >
	<img src='../../../../../assets/images/loader.gif' alt=''>
	Loading...
  </div>

  <div class="change_pass">
		<form id="register-form" #RegisterForm="ngForm" method="post">

			<div class="form_field_wrapper">
                <label>Old Password</label>
                <mat-form-field appearance="fill">
					<input id="currentPassword" matInput name="currentPassword" maxlength="30" minlength="8" #currentPassword="ngModel" ngModel required placeholder="Enter Current Password"  type="password">
                </mat-form-field> 
				<span
					style="padding: 0px; color: red; font-size: 12px;" *ngIf="currentPassword.touched && !currentPassword.valid " class="alert">
					Enter Current Password (max  8 character)
				</span>
            </div>

			<div class="form_field_wrapper">
                <label>New Password</label>
                <mat-form-field appearance="fill">
					<input id="password" matInput name="password" maxlength="12" minlength="8" #password="ngModel" ngModel required placeholder="Enter Password"  type="password">
                </mat-form-field> 
				<span
				style="padding: 0px; color: red; font-size: 12px;" *ngIf="password.touched && !password.valid " class="alert">
					Enter Password (max  8 character)
				</span>
            </div>

			<div class="form_field_wrapper">
                <label>Confirm Password</label>
                <mat-form-field appearance="fill">
					<input id="confirmPassword" matInput name="confirmPassword" maxlength="12" minlength="8" #confirmPassword="ngModel" ngModel required placeholder="Confirm Password"  type="password">
                </mat-form-field> 
				<span
				style="padding: 0px; color: red; font-size: 12px;" *ngIf="confirmPassword.touched && !confirmPassword.valid || Validatepasswordflag" class="alert">
				Password doesn't match.
				</span>
            </div>

			<button type="submit" (click)="resetPassword(RegisterForm)" class="btn btn-primary">
				Save
			</button>
			
		</form>
  </div>


