<div class='custom-loader' *ngIf="loaderflag" id=loader>
    <img src='../../../../../assets/images/loader.gif' alt=''>
    Loading...
  </div>
  <div class="common-page-wrapper" [ngClass]="{'loader-bg' : loaderflag}">
    <!-- top breadcrumbs wrap -->
    <div class="bread-btn-wrap">
      <ul class="custom-breadcrumbs">
        <li><a [routerLink]="['/Dashboard']" class="main-base" title="Dashboard">Dashboard</a></li>
        <li><a [routerLink]="['/Dashboard/manage-credentialing']" class="current" title="Manage Credential">Manage Credential</a></li>
      </ul>
      <div class="right-btn-wrap">
        <a [routerLink]="['/Dashboard/add-credentialing/0/0']" class="custom-btn m-0" title="Add New Credential">Add New Credential</a>
      </div>
    </div>
  
    <!-- table cards -->
    <div class="custom-card">
      <div class="heading-wrap">
        <h1>Manage Credential</h1>
        <form class="search-wrap" [formGroup]="credentialingform">
          <input class="form-control me-2" type="search" formControlName="Search" placeholder="Search" aria-label="Search" (keydown)="GetCredentialingList()">
        </form>
      </div>
  
      <div class="table-responsive">
        <mat-table  class="table" [dataSource]="dataSource" matSort (matSortChange)="sortData($event)"
          matSortDirection="asc">
  
          <ng-container matColumnDef="logo">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element">
              <div class="img-">
                <img src="../../../../assets/images/marry-baldwin-logo.svg" alt="">
              </div>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Caregivername">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Caregiver Name</mat-header-cell>
            <mat-cell *matCellDef="let element" >{{element.FirstName}}  {{element.LastName}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="docsexpiring">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Total Docs</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.TotalDocs}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.Email}} </mat-cell>
          </ng-container>
  
          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <div class="form-check form-switch">
                <input class="form-check-input" title="Active / Deactive " [(ngModel)]="element.IsActive" id="{{element.id}}"
                  (click)="changeCredentialingStatus(element.CaregiverId,element.IsActive)" type="checkbox" role="switch" checked>
                <label class="custom-control-label" for="{{element.CaregiverId}}"></label>
              </div>
            </mat-cell>
          </ng-container>
  
          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <div class="action-wrap">
                <a [routerLink]="['/Dashboard/add-credentialing', element.CaregiverId,0]">
                  <img data-toggle="tooltip" data-placement="right" title="Edit Credential" src="../../../../assets/images/edit-icon.svg" alt="icon">
                </a>
                <a (click)="deleteCredential(element.CaregiverId)" *ngIf="element.IsDeleted != 1">
                  <img src="../../../../assets/images/delete-icon.svg" data-toggle="tooltip" data-placement="right" title="Delete Credential" alt="icon">
                </a>
              </div>
            </mat-cell>
          </ng-container>
  
          <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef> No records found.</mat-footer-cell>
          </ng-container>
          <div>
            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            <mat-footer-row *matFooterRowDef="['noData']" [hidden]="hide">
            </mat-footer-row>
          </div>
  
        </mat-table>
        <!-- [showTotalPages]="totalPages" -->
        <mat-paginator  style-paginator  [length]="recordcount" [pageSize]="pagesize"
         [pageSizeOptions]="pageSizeList" (page)="pageChangeEvent($event)">
        </mat-paginator>
  
      </div>
    </div>
  </div>