<div class='custom-loader' *ngIf="loaderflag" id=loader >
	<img src='../../../../../assets/images/loader.gif' alt=''>
	Loading...
  </div>
<div class="main-wrapper">
	<div class="left-wrap">
		<!-- <img src="../../../../assets/images/innovative_care_connections_logo.svg" alt=""> -->
		<div class="form-wrap">
			<h1>Reset Password</h1>
			<form id="register-form" #RegisterForm="ngForm" method="post">
				<div class="form-field">
					<mat-form-field appearance="fill">
					<mat-label>Current Password</mat-label>
				  <input id="currentPassword" matInput name="currentPassword" maxlength="30" minlength="8" #currentPassword="ngModel" ngModel required placeholder="Enter Current Password"  type="password">
						  </mat-form-field>
						  <span
						  style="padding: 0px; color: red; font-size: 12px;" *ngIf="currentPassword.touched && !currentPassword.valid " class="alert">
						   Enter Current Password (max  8 character)
						  </span>
					  </div>
				<div class="form-field">
			  <mat-form-field appearance="fill">
			  <mat-label>New Password</mat-label>
            <input id="password" matInput name="password" maxlength="12" minlength="8" #password="ngModel" ngModel required placeholder="Enter Password"  type="password">
					</mat-form-field>
					<span
					style="padding: 0px; color: red; font-size: 12px;" *ngIf="password.touched && !password.valid " class="alert">
					 Enter Password (max  8 character)
					</span>
				</div>

        <div class="form-field">
					<mat-form-field appearance="fill">
						<mat-label>Confirm Password</mat-label>
            <input id="confirmPassword" matInput name="confirmPassword" maxlength="12" minlength="8" #confirmPassword="ngModel" ngModel required placeholder="Confirm Password"  type="password">
					</mat-form-field>
					<span
					style="padding: 0px; color: red; font-size: 12px;" *ngIf="confirmPassword.touched && !confirmPassword.valid || Validatepasswordflag" class="alert">
					Password doesn't match.
					</span>
				</div>

				<button type="submit" (click)="resetPassword(RegisterForm)" class="custom-btn">
					Submit
				</button>
				<p class="sign-text">Already have account? <a type="button" (click)="onBackClick()">Login</a> </p>
			</form>
		</div>
	</div>
	<div class="right-wrap">
		<div class="img-bg" style="background-image: url(../../../../assets/images/login-right-img.svg);"></div>
	</div>
</div>

