<!-- <div class="mainLayout" id="fullLayout">
	<div class="mainSidebar">

        <app-acp-partner-sidebar></app-acp-partner-sidebar> 
	</div>
	<div class="mainWrapper">

        <app-acp-partner-header ></app-acp-partner-header>
		<router-outlet></router-outlet>
	</div>
</div> -->




<div class="main_block">
    <div class="sidebar_section">
		<app-acp-partner-sidebar></app-acp-partner-sidebar> 
    </div>
    <div class="main_section">
        <app-acp-partner-header ></app-acp-partner-header>
        <router-outlet></router-outlet>
    </div>
</div>