<div class="common-page-wrapper">
    <!-- top breadcrumbs wrap -->
    <div class="bread-btn-wrap">
        <ul class="custom-breadcrumbs">
            <li><a [routerLink]="['/Dashboard']" class="main-base" title="Dashboard">Dashboard</a></li>
            <li><a [routerLink]="['/Dashboard/manage-message']" title="Manage Messages">Manage Messages</a></li>
            <li><a [routerLink]="['/Dashboard/view-message']" class="current" title="View Message">View Message</a></li>
        </ul>
        <div class="right-btn-wrap">
            <a class="custom-btn rounded-btn" title="Delete Message">Delete Message</a>
            <a class="custom-btn border-btn rounded-btn m-0" title="New Message">New Message</a>
        </div>
    </div>

    <!-- msg card -->
    <div class="custom-card msg-detail">
        <div class="icon-wrap">
            <img src="../../../../assets/images/dummy-profile-img.svg" alt="">
        </div>
        <div class="text-detail-wrap">
            <ul>
                <li>
                    <h4>Oliver Taylor</h4>
                    <a href="mailto:olivertaylor25@gmail.com" title="olivertaylor25@gmail.com">olivertaylor25@gmail.com</a>
                </li>
                <li>
                    <div class="date-wrap">
                        Monday, 5 Sep 2022 <br/> 9:15 AM
                    </div>
                </li>
            </ul>
            <div class="sub-wrap">
                <h4><span>Subject &nbsp;</span> Ralph Edwards</h4>
            </div>
            <div class="des-wrap">
                <p> <b> Hello Sir, </b></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud  ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat  non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud  ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat  non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud  ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat  non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud  ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat  non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>

</div>