<!-- Add/ Update Client List -->
<!-- <div class="loader" *ngIf="loader"></div> -->

<div class="addclientsite_dialog">
    <div class="modal-header">
        <h2 mat-dialog-title>{{FormHeading}}</h2>
        <mat-icon class="close_btn"  mat-button mat-dialog-close (click)="closeDialog('close')">close</mat-icon>
    </div>
            <mat-dialog-content>
                    <form [formGroup]="ClientSiteForm">
                        <div class="col-6">
                            <div class="form-field">
                                <mat-label>Client</mat-label>
                                <mat-form-field appearance="outline">
                                    <mat-select formControlName="ClientName" matInput
                                        [ngClass]="{ 'is-invalid': submitted  }" (valueChange)="setStateCountry($event)"
                                        autocomplete="off">
                                        <mat-option *ngFor="let client of clientList" [value]="client.clientID">
                                            {{client.firstName+' '+client.lastName}}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="'client.invalid'">Please enter Client name </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-field">
                                <mat-label>Select Type </mat-label>
                                <mat-form-field appearance="outline">
                                    <mat-select formControlName="Type" matInput [ngClass]="{ 'is-invalid': submitted  }"
                                        autocomplete="off">
                                        <mat-option [value]="1">Residential</mat-option>
                                        <mat-option [value]="2">Business</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="'type.invalid'">Please select type</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-field">
                                <mat-label>Site Address 1</mat-label>
                                <mat-form-field appearance="outline">
                                    <input type="text" matInput formControlName="Address1"
                                        placeholder="Enter site address 1" [ngClass]="{ 'is-invalid': submitted  }"
                                        autocomplete="off" required>
                                    <mat-error *ngIf="'address1.invalid'">Please enter zipcode</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-field">
                                <mat-label>Site Address 2</mat-label>
                                <mat-form-field appearance="outline">
                                    <input type="text" matInput formControlName="Address2"
                                        placeholder="Enter site address 2" [ngClass]="{ 'is-invalid': submitted  }"
                                        autocomplete="off" maxlength="70" required>
                                    <mat-error *ngIf="'address2.invalid'">Please enter Address </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-field">
                                <mat-label>Select Country </mat-label>
                                <mat-form-field appearance="outline">
                                    <input type="text" matInput formControlName="CountryID"
                                        placeholder=" Country " [ngClass]="{ 'is-invalid': submitted  }"
                                        autocomplete="off" required maxlength="80" [readonly]="true">
                                    <mat-error *ngIf="'CountryID.invalid'">Please select country</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-field">
                                <mat-label>Select State</mat-label>
                                <mat-form-field appearance="outline">
                                    <input type="text" matInput formControlName="StateID"
                                        placeholder=" State " [ngClass]="{ 'is-invalid': submitted  }"
                                        autocomplete="off" required maxlength="80" [readonly]="true">
                                    <mat-error *ngIf="'StateID.invalid'">Please select state</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-field">
                                <mat-label>Enter City</mat-label>
                                <mat-form-field appearance="outline">
                                    <input type="text" matInput formControlName="City" placeholder="Enter city"
                                        [ngClass]="{ 'is-invalid': submitted  }" autocomplete="off" required>
                                    <mat-error *ngIf="'city.invalid'">Please enter city</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-field">
                                <mat-label>Postal Code</mat-label>
                                <mat-form-field appearance="outline">
                                    <input type="text" matInput formControlName="PostalCode"
                                        placeholder="Enter postal code" [ngClass]="{ 'is-invalid': submitted  }"
                                        autocomplete="off" required maxlength="10">
                                    <mat-error *ngIf="'PostalCode.invalid'">Please enter postal code</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-field">
                                <mat-label>Contact Name</mat-label>
                                <mat-form-field appearance="outline">
                                    <input type="text" matInput formControlName="ContactName" placeholder="Enter Name"
                                        [ngClass]="{ 'is-invalid': submitted  }" autocomplete="off" required>
                                    <mat-error *ngIf="'contactName.invalid'">Please enter city</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-field">
                                <mat-label>Contact Phone Number</mat-label>
                                <mat-form-field appearance="outline">
                                    <input type="text" matInput formControlName="ContactPhone"
                                    mask="(000) 000-0000"
                                    placeholder="(xxx) xxx-xxxx"
                                        [ngClass]="{ 'is-invalid': submitted  }" autocomplete="off" required >
                                    <mat-error *ngIf="'contactPhone.invalid'">Please enter postal code</mat-error>
                                </mat-form-field>
                            </div>
                        </div>


                    </form>
                </mat-dialog-content>

            <!-- <div *ngIf="Mode!=''" class="modal-footer">
                <button type="button" class="btn cancel-btn" data-bs-dismiss="modal" id="closeModal"
                    #addClientSiteModal>Cancel</button>
                <button type="submit" class="btn save-btn"
                    (click)="OnSubmitClick()">{{Mode=="Edit"?"Update":"Add"}}</button>
            </div> -->
        <mat-dialog-actions>
            <button mat-button mat-dialog-close class="btn btn-secondary" (click)="closeDialog('close')">Cancel</button>
            <button mat-button class="btn btn-primary" (click)="OnSubmitClick()" *ngIf="!mode"> {{ButtonHeading}}</button>
        </mat-dialog-actions>
</div>
    