<div class="common-page-wrapper form-page">
    <!-- top breadcrumbs wrap -->
    <div class="bread-btn-wrap">
      <ul class="custom-breadcrumbs">
        <li><a [routerLink]="['/Dashboard']" class="main-base" title="Dashboard">Dashboard</a></li>
        <li><a [routerLink]="['/Dashboard/Staff-Management']" class="main-base" title="Staff Management">Staff Management</a></li>
        <li><a [routerLink]="['/Dashboard/Add-New-Staff/0/0']" class="current" title="Add New Staff">Add New Staff </a></li>
      </ul>
    </div>
  
    <!-- table cards -->
    <div class="custom-card">
      <div class="custom-form-wrapper d-flex align-items-start">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <!-- profile image -->
          <div class="edit-image">
            <div class="circle">
              <img id="blah" class="profile-pic" [src]="imageSrc || '../../../../../assets/images/profile-holder.png'"
                alt="your image" />
            </div>
            <div class="upload-block">
              <a (click)="resetFileUploader()" class="remove-wrap">
                <img src="../../../../../assets/images/delete-red.svg" alt="">
              </a>
              <a class="upload-btn" title="Browse"> Browse
                <input class="file-upload" type="file" #file name="file"
                  accept="image/png,image/gif,image/jpeg,.pdf,.doc,.docx" (change)="onAttachment($event)" />

              </a>
            </div>
          </div>
     
        </div> 
        <div class="tab-content" id="v-pills-tabContent">
          <form class="edit-profile-form" [formGroup]="agencyStaffform">
            <input type="text" class="form-control" formControlName="StaffLogo" style="display: none;">
            <input type="text" class="form-control" formControlName="StaffId" style="display: none;">
            <input type="text" class="form-control" formControlName="UserId" style="display: none;">
            <input type="text" class="form-control" formControlName="AgencyId" style="display: none;">
            <div class="tab-pane fade show active" id="v-pills-one" role="tabpanel" aria-labelledby="v-pills-one-tab">
              <div class="form-wrapper">
                <div class="row">

                  <div class="col-md-4">
                    <div class="form-field">
                      <mat-form-field appearance="fill">
                        <mat-label>Staff Role </mat-label>
                        <mat-select formControlName="StaffRole" matInput [ngClass]="{ 'is-invalid': submitted  }">
                            <mat-option *ngFor=" let list of RoleTypeList" [value]="list.Id">{{list.Label}}
                            </mat-option>
                          </mat-select>
                      <mat-error *ngIf="'StaffRole.invalid'">Staff role is required</mat-error>
                      </mat-form-field>
                    </div>
                  </div>


                  <div class="col-md-4">
                    <div class="form-field">
                      <mat-form-field appearance="fill">
                        <mat-label>First Name</mat-label>
                        <input type="text" maxlength="30" matInput formControlName="Name" [ngClass]="{ 'is-invalid': submitted }"
                          autocomplete="new-name">
                          <mat-error *ngIf="'Name.invalid'"> Name is required</mat-error>
                      </mat-form-field>
                    
                    </div>
                  </div>
                  <div class="col-md-4">
                    
                    <div class="form-field">
                      <mat-form-field appearance="fill">
                        <mat-label>Last Name</mat-label>
                        <input type="text"  maxlength="20" formControlName="LastName" matInput
                          [ngClass]="{ 'is-invalid': submitted }">
                      <mat-error *ngIf="'LastName.invalid'">Last name is required</mat-error>
  
                      </mat-form-field>
                    </div>
                  </div>
  
                  <div class="col-md-4">
                    <div class="form-field">
                      <mat-form-field appearance="fill">
                        <mat-label>Gender Preference </mat-label>
                        <mat-select formControlName="Gender" matInput [ngClass]="{ 'is-invalid': submitted  }">
                            <mat-option *ngFor=" let list of GenderList" [value]="list.Id">{{list.Label}}
                            </mat-option>
                          </mat-select>
                      <mat-error *ngIf="'Gender.invalid'">Gender is required</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
  

                  <!-- <div class="col-md-4">
                    <div class="form-field">
                      <mat-form-field appearance="fill">
                        <mat-label>DOB</mat-label>
                        <input  type="date" maxlength="20" formControlName="DOB" matInput
                          [ngClass]="{ 'is-invalid': submitted }">
                      <mat-error *ngIf="'DOB.invalid'">DOB is required</mat-error>
                      </mat-form-field>
                    </div>
                  </div>  -->


                  <div class="col-md-4">
                    <div class="form-field date-calender">
                      <mat-form-field appearance="fill">
                        <mat-label>DOB </mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="DOB" >
                        <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="'DOB.invalid'">DOB is required</mat-error>
                    </mat-form-field>
                   </div>
                </div>

                <div class="col-md-4">
                  <div class="form-field">
                    <mat-form-field appearance="fill">
                      <mat-label>Office </mat-label>
                      <mat-select formControlName="Office" matInput [ngClass]="{ 'is-invalid': submitted  }">
                          <mat-option *ngFor=" let list of OfficeList" [value]="list.Id">{{list.Label}}
                          </mat-option>
                        </mat-select>
                    <mat-error *ngIf="'Office.invalid'">Office is required</mat-error>
                    </mat-form-field>
                  </div>
                </div>

                  <div class="col-md-4">
                    <div class="form-field">
                      <mat-form-field appearance="fill">
                        <mat-label>Designation</mat-label>
                        <mat-select formControlName="Designation" matInput [ngClass]="{ 'is-invalid': submitted  }">
                          <mat-option *ngFor=" let list of EmployeeTypeList" [value]="list.Id">{{list.Label}}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="'Designation.invalid'">Designation is required</mat-error>
                      </mat-form-field>
                    </div>
                  </div>


                  <div class="col-md-4">
                    <div class="form-field">
                      <mat-form-field appearance="fill">
                        <mat-label>Contact</mat-label>
                        <input mask="(000) 000-0000" placeholder="xxx-xxx-xxxx" type="tel" matInput formControlName="Contact" [ngClass]="{ 'is-invalid': submitted  }"
                          autocomplete="new-name">
                      <mat-error *ngIf="'Contact.invalid'">Phone number is required</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
  
                  <div class="col-md-4">
                    <div class="form-field">
                      <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input type="text" maxlength="50"  required matInput formControlName="Email" [ngClass]="{ 'is-invalid': submitted  }"
                          autocomplete="new-name" ng-pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" >
                      <mat-error *ngIf="'Email.invalid'">Enter valid email  address</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
  
                  <div class="col-md-4">
                    <div class="form-field">
                      <mat-form-field appearance="fill">
                        <mat-label> Address</mat-label>
                        <input  required type="text" maxlength="150" matInput formControlName="Address"
                          [ngClass]="{ 'is-invalid': submitted  }" autocomplete="new-name">
                          <mat-error *ngIf="'Address.invalid'">Agency business address is required</mat-error>
                      </mat-form-field>
                    </div>
                  </div> 
  
                  <div class="col-md-4">
                    <div class="form-field">
                      <mat-form-field appearance="fill">
                        <mat-label>Country</mat-label>
                        <mat-select formControlName="Country" matInput [ngClass]="{ 'is-invalid': submitted  }">
                          <mat-option *ngFor=" let list of countryList" [value]="list.Id">{{list.Label}}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="'Country.invalid'">Country is required</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
  
                  <div class="col-md-4">
                    <div class="form-field">
                      <mat-form-field appearance="fill">
                        <mat-label>State</mat-label>
                        <mat-select formControlName="State" matInput [ngClass]="{ 'is-invalid': submitted  }"
                          autocomplete="new-name">
                          <mat-option *ngFor=" let list of stateList" [value]="list.Id">{{list.Label}}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="'State.invalid'">State is required</mat-error>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-field">
                      <mat-form-field appearance="fill">
                        <mat-label>City</mat-label>
                        <input type="text" matInput maxlength="25" formControlName="City" [ngClass]="{ 'is-invalid': submitted  }"
                          autocomplete="new-name">
                      <mat-error *ngIf="'City.invalid'">City is required</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
  
                  <div class="col-md-4">
                    <div class="form-field">
                      <mat-form-field appearance="fill">
                        <mat-label>Zip</mat-label>
                        <input type="text" maxlength="6" minlength="3" matInput formControlName="ZipCode"
                          [ngClass]="{ 'is-invalid': submitted  }" autocomplete="new-name">
                          <mat-error *ngIf="'ZipCode.invalid'">ZipCode is required</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-field">
                      <mat-form-field appearance="fill">
                        <mat-label>User Name</mat-label>
                        <input type="text" maxlength="30" matInput formControlName="UserName" [ngClass]="{ 'is-invalid': submitted  }"
                          autocomplete="new-name">
                          <mat-error *ngIf="'UserName.invalid'">User name is required</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
  
                  <div class="col-md-4">
                    <div class="form-field">
                      <mat-form-field appearance="fill">
                        <mat-label>Password</mat-label>
                        <input [type]="showPassword ? 'text' : 'password'" maxlength="12" minlength="8" matInput formControlName="Password" [ngClass]="{ 'is-invalid': submitted }"
                          autocomplete="new-password">
                          <mat-icon matSuffix (click)="togglePasswordVisibility()">
                            {{showPassword?'visibility_off':'visibility'}}
                          </mat-icon>
                          <mat-error *ngIf="'Password.invalid'">Password is required(Min 8 characters)</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
  
                  <div class="col-md-4">
                    <div class="form-field">
                      <mat-form-field appearance="fill">
                        <mat-label>Confirm Password</mat-label>
                        <input [type]="showPassword2 ? 'text' : 'password'" maxlength="12" minlength="8" matInput formControlName="ConfirmPassword"
                          [ngClass]="{ 'is-invalid': submitted  }" autocomplete="new-name">
                          <mat-icon matSuffix (click)="togglePasswordVisibility2()">
                            {{showPassword2?'visibility_off':'visibility'}}
                          </mat-icon>
                          <mat-error *ngIf="'ConfirmPassword.invalid'">Confirm password is (Min 8 characters)</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
  
                </div>
                <div class="btn-wrap justify-content-end">
                  <button class="custom-btn next" *ngIf="savebtnFlag" (click)="AddUpdateStaff()" > <p>Save</p>  </button>
                  <button class="custom-btn next" *ngIf="updatebtnflag" (click)="AddUpdateStaff()" > <p>Update</p>  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  
  </div>