@import '../../../../assets/scss/variable.scss';

.facilityModel {
    max-width: 800px !important;
}

.green-border-box {
    border: 1px solid #2C8C0B;
    border-radius: 20px;
    background: rgba(44, 140, 11, 0.06);
    font-weight: 600;
    font-size: 16px;
    color: #2C8C0B;
    padding: 6px 18px;
}

a.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.body-wrap ul li {
    background-image: none;
}

.save-btn {
    font-weight: 700;
    font-size: 17px;
    background: #2953E8;
    border-radius: 6px;
    color: #fff;
    border: none;
    margin: 0;
    width: 100%;
    padding: 12px;

    &:hover {
        opacity: 0.6;
    }

    @media screen and (max-width: 1600px) {
        font-size: 16px;
    }

    @media screen and (max-width: 1400px) {
        font-size: 15px;
        padding: 10px;
    }
}

.cancel-btn {
    font-weight: 700;
    font-size: 17px;
    background: #EEEEEE;
    border-radius: 6px;
    color: #2C2B30;
    border: none;
    margin: 0;
    margin-right: 8px;
    width: 100%;
    padding: 12px;

    &:hover {
        opacity: 0.6;
    }

    @media screen and (max-width: 1600px) {
        font-size: 16px;
    }

    @media screen and (max-width: 1400px) {
        font-size: 15px;
        padding: 10px;
    }
}

button {
    margin-right: 8px !important;

    &:last-child {
        margin: 0 !important;
    }
}

.add-btn {
    font-weight: 700;
    font-size: 16px;
    background: #2953E8;
    border-radius: 5px;
    height: 45px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    color: #fff;
    grid-gap: 7px;
    margin-left: 14px;

    &:hover {
        opacity: 0.6;
    }

    @media screen and (max-width: 1600px) {
        padding: 0 20px;
    }

    @media screen and (max-width: 1400px) {
        font-size: 14px;
        height: 38px;
        padding: 0 12px;
    }

    @media screen and (max-width: 767px) {
        margin-left: 5px;
        margin-top: 6px;
    }
    @media only screen and (max-device-width: $medium_iphone) {
        .newreg_dialog .mat-dialog-content form .form_inner .form_field_wrapper{
            width: 100%;
        }
    }

}