<div class="common-page-wrapper form-page">
    <!-- top breadcrumbs wrap -->
    <div class="bread-btn-wrap">
      <ul class="custom-breadcrumbs">
        <li><a [routerLink]="['/Dashboard']" class="main-base" title="Dashboard">Dashboard</a></li>
        <li><a [routerLink]="['/Dashboard/manage-credentialing']" class="current" title="Manage Credential">Manage Credential</a></li>
      </ul>
    </div>
  
    <!-- table cards -->
    <div class="custom-card">
      
      
      <div class="custom-form-wrapper d-flex align-items-start">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical" style="overflow: auto; display: block;">
          <!-- profile image -->
          <div class="edit-image">
            <div class="circle">
              <img id="blah" class="profile-pic" [src]="imageSrc || '../../../../../assets/images/profile-holder.png'"
                alt="your image" />
            </div>
          </div>
  
          <button *ngFor=" let item of CredentialList" class="nav-link" id="v-pills-one-tab" data-bs-toggle="pill" data-bs-target="#v-pills-one"
            type="button" role="tab" aria-controls="v-pills-one" aria-selected="false"> {{item.Label}} </button>
          <!-- <button class="nav-link" id="v-pills-two-tab" data-bs-toggle="pill" data-bs-target="#v-pills-two" type="button"
            role="tab" aria-controls="v-pills-two" aria-selected="false">Photo Id <mat-icon>keyboard_arrow_right
            </mat-icon></button> -->
        </div>
        <div class="tab-content" id="v-pills-tabContent" *ngIf="Credentialingform">
          <form class="edit-profile-form" [formGroup]="addCredentialingform">
            <input type="text" style="display: none;"  maxlength="50" formControlName="CredentialId" matInput [ngClass]="{ 'is-invalid': submitted }">

            <div class="tab-pane fade show active" id="v-pills-one" role="tabpanel" aria-labelledby="v-pills-one-tab">
              <div class="form-wrapper">
                <h2> Add New Credential</h2>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-field">
                      <mat-form-field appearance="fill">
                        <mat-label>Credential Category</mat-label>
                        <mat-select formControlName="CredentialCategory" matInput [ngClass]="{ 'is-invalid': submitted  }">
                            <mat-option *ngFor=" let list of credentialingList" [value]="list.Id">{{list.Label}}
                            </mat-option>
                          </mat-select>
                          <mat-error *ngIf="'CredentialCategory.invalid'">Credential category name is required</mat-error>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-field">
                      <mat-form-field appearance="fill">
                        <mat-label>Caregiver</mat-label>
                        <mat-select formControlName="Caregiver" matInput [ngClass]="{ 'is-invalid': submitted  }">
                            <mat-option *ngFor=" let list of CaregiverList" [value]="list.Id">{{list.Label}}
                            </mat-option>
                          </mat-select>
                          <mat-error *ngIf="'Caregiver.invalid'">Caregiver is required</mat-error>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-field">
                      <mat-form-field appearance="fill">
                        <mat-label>Document Name</mat-label>
                        <input type="text"  maxlength="50" formControlName="DocumentName" matInput
                          [ngClass]="{ 'is-invalid': submitted }">
                      <mat-error *ngIf="'DocumentName.invalid'">Document name is required</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-field">
                      <mat-form-field appearance="fill">
                        <mat-label>Document Id</mat-label>
                        <input type="text"  maxlength="20" formControlName="LicenseNumber" matInput
                          [ngClass]="{ 'is-invalid': submitted }">
                      <mat-error *ngIf="'LicenseNumber.invalid'">Document Id is required</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
 
                  <div class="col-md-4">
                    <div class="form-field date-calender">
                      <mat-form-field appearance="fill">
                        <mat-label>Expiration date</mat-label>
                        <input matInput [matDatepicker]="picker" (dateChange)="CheckExpiryDateValidation()" formControlName="ExpirationDate" [min]="maxDate">
                        <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="'ExpirationDate.invalid'">Expiration date is required</mat-error>
                    </mat-form-field>
                   </div>
                </div> 
  
                  <div class="col-md-4">
                  <div class="multi-files">
                    <mat-label style="color: darkgray;  font-weight: 600;">Upload Document <span style="color: red;">*</span></mat-label>
                    <input type="text"   formControlName="UploadedDocument" matInput
                          [ngClass]="{ 'is-invalid': submitted }" style="display: none;">
                    <div class="upload-block">
                      <a class="upload-btn" title="Browse"> Browse
                        <input class="file-upload" type="file" #file name="file" accept=".pdf,.doc,.docx"
                          (change)="onDocumentsAttachment($event)" />
                      </a>
                      <div class="files-outer-wrap">
                        <div class="file-wrap">
                          <p> {{fileNameObj}} </p>
                          <a class="close-icon">
                            <mat-icon (click)="RemoveFile()">close</mat-icon>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                  <div class="col-md-4">
                    <div class="form-field">
                      <mat-form-field appearance="fill">
                        <mat-label>Status</mat-label>
                        <mat-select formControlName="Status" matInput [ngClass]="{ 'is-invalid': submitted  }">
                          <mat-option value="" selected >Please Select</mat-option>
                            <mat-option  [value]="0">Yes</mat-option>
                            <mat-option  [value]="1">No</mat-option>
                          </mat-select>
                          <mat-error *ngIf="'Status.invalid'">Status is required</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
  
                  <div class="col-md-8">
                    <div class="form-field">
                      <mat-form-field appearance="fill">
                        <mat-label>Expiration Reminder Alert</mat-label>
                        <mat-select formControlName="ExpirationReminderAlert" matInput [ngClass]="{ 'is-invalid': submitted  }">
                            <mat-option *ngFor=" let list of ExpirationTypeList" [value]="list.Id">{{list.Label}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="'ExpirationReminderAlert.invalid'">Expiration reminder alert is required</mat-error>
                      </mat-form-field>
                    </div>
                  </div> 

                  <div class="col-md-6">
                    <div class="form-field">
                      <mat-form-field appearance="fill">
                        <div class="form-field">
                            <mat-checkbox formControlName="SendNotificationTo">Send Notification To</mat-checkbox>
                            <input type="text" style="display: none;" matInput  formControlName="Id"> 
                          </div>
                        <mat-error *ngIf="'SendNotificationTo.invalid'">Send notification to is required</mat-error>
                      </mat-form-field>
                    </div>
                  </div> 
  
                  <div class="col-md-12">
                    <div class="form-field">
                      <mat-form-field appearance="fill">
                        <mat-label>Notes</mat-label>
                        <input type="text" maxlength="150"  matInput formControlName="Notes"
                          [ngClass]="{ 'is-invalid': submitted  }" autocomplete="new-name">
                          <mat-error *ngIf="'Notes.invalid'">Notes is required</mat-error>
                      </mat-form-field>
                   
                    </div>
                  </div>
         <div class="col-lg-4" *ngIf="Editbtnflag">
           <div class="edit-image" style="padding: 0px;">
              <img id="blah" class="profile-pic" [src]=" uploadedImg ||'../../../../../assets/images/profile-holder.png'"
               alt="your image"  style="height: 100px;" *ngIf="ImgFile"   (click)="documentModel(DocumentModel)" />
               <img id="blah" class="profile-pic" [src]=" '../../../../../assets/images/word.png'"
               alt="your image"  style="height: 100px;" *ngIf="wordFile" />
               <button  class="custom-btn  rounded-btn" type="button" (click)="downloadFile()" *ngIf="wordFile">Download DOCS</button>
               <img id="blah" class="profile-pic" [src]=" '../../../../../assets/images/pdfs.png'"
               alt="your image"  style="height: 100px;" *ngIf="pdfFile"/>
               <button  (click)="downloadFile()" class="custom-btn  rounded-btn" type="button" *ngIf="pdfFile">Download PDF</button>
          </div>
         
        </div>
                </div>
                <div class="btn-wrap justify-content-end">
                  <button class="custom-btn next"  (click)="AddUpdateCredentialing()" *ngIf="Addbtnflag"> <p>Save</p> </button>
                  <button class="custom-btn next"  (click)="AddUpdateCredentialing()" *ngIf="Editbtnflag"> <p>Update</p> </button>
                </div>
  
              </div>
            </div>
            <div class="tab-pane fade" id="v-pills-two" role="tabpanel" aria-labelledby="v-pills-two-tab">
              
            </div>
          </form>
        </div>
        <div class="tab-inner" *ngIf="CredentialingTable">
          <div class="heading-wrap">
            <h1>Credentials</h1>
            <a class="custom-btn rounded-btn"  (click)="AddNewCredentialing()" title="Save"
              style="width: auto;  margin: 0 !important;">Add New Credential</a>
          </div>
        <div class="table-responsive" *ngIf="CredentialingTable" >
          <table>
            <thead>
              <tr>
                <th>Document name</th>
                <th>Document Id</th>
                <th>Date Uploaded</th>
                <th>Expiration Date</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of PcredentialList" >
                <td>
               {{item.DocumentName}}
                </td>
                <td>
                  {{item.LicenseNumber}}
                </td>
                <td>
                  {{item.CreatedOn | date}}
                </td>
                <td>  {{item.ExpirationDate | date}} </td>
                <td>
                  <div class="action-wrap" >
                    <a ><img src="../../../../assets/images/edit-icon.svg" title="Edit Details" alt="icon" (click)="EditCredentialing(item.CredentialId,'screen')"></a>
                     <a style="margin-left:20px">  <img src="../../../../assets/images/delete-icon.svg" alt="icon" (click)="deleteCredential(item.CredentialId)" title="Delete Detail"> </a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>
      </div>
      
    </div>
  
  </div>
  <div class="modal fade"   id="DocumentModel" >
    <ng-template #DocumentModel let-modal>
  
      <div class="modal-content">
        <div class="modal-header">
         <button type="button" class="btn-close" #closebutton aria-label="Close" (click)="closeDocumentPopup()">                  
           </button> 
        </div>
        <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <img id="Img" [src]=" ViewModalImage ||'../../../../../assets/images/profile-holder.png'" alt="View Document" style="width:100%;max-width:460px">
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button  class="custom-btn  rounded-btn" type="button"  (click)="downloadFile()" >Download Image</button>
        </div>
      </div>
    
  </ng-template>
  </div>


